/* Headings */
.headings{
    display:flex;
    align-items:center;
    width:100%;
}
.logo{
    flex:0 0 auto;
}
.navinfo{
    flex:1;
}
.navbar{
    display:flex;
    justify-content:flex-end;
}
.navbar div{
    padding:10px;
}
hr{
    border-top:3px solid black;
}

/* Product Page & Cart Page Display */
.product-page{
    text-align:center;
    color:black;
    font-size:20px;
    font-family:helvetica;
    padding:5px;
}

.product-page span{
    background:yellow;
}

.cart-page{
    text-align:center;
    color:black;
    font-size:20px;
    font-family:helvetica;
    font-weight:normal;
    padding:5px;
}

.introduction{
    text-align:left;
    font-size:20px;
    font-family:helvetica;
    padding:20px;
}


/* Product Detail Info */
.product-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.product-info,.product-detail{
    /* text-align:center; */
    width:30%;
    margin:10px;
    font-size:15px;
    font-family:helvetica;
}

.product-info:hover{
    margin:0 auto;
    width:auto;
    background-color:yellow;
}

.product-info img,.product-detail img{
    display:block;
    margin:0 auto;
    border: 2px solid black;
}

.selection{
    padding:10px;
}
.product-name{
    text-decoration-line:underline;
}

/* To add the product to cart */
.product-summary{
    font-weight:bold;
    padding:30px;
    display:flex;
    justify-content:center;
}

.yellow-button{
    display:inline-block;
    background-color:yellow;
    padding:10px 20px;
    border:1px solid black;
}
.price{
    margin-right:20px;
}
