::-webkit-scrollbar{
    display:none;
}

body{
    background:black;
    color:white;
}

html {
    --origin-x: calc(var(--click-x, 0.5) * 100%);
    --origin-y: calc(var(--click-y, 0.5) * 100%);
}

html.is-changing .transition-reveal {
    transition: clip-path 1s cubic-bezier(0.5, 0, 0.15, 1), mask-position 1s cubic-bezier(0.5, 0, 0.15, 1), -webkit-mask-position 1s cubic-bezier(0.5, 0, 0.15, 1);
}

html.to-circle .transition-reveal {
    clip-path: circle(75% at 50% 50%);
}

html.to-circle .transition-reveal.is-previous-container {
    clip-path: circle(0% at var(--origin-x) var(--origin-y));
}

.page{
    z-index:1;
}


/* button to go back to main page */
/* https://replit.com/@philippdaun/Swup-Demo-Overlay#index.html */
.button {
    display: inline-block;
    border-radius: 999vw;
    background: transparent;
    border: 2px solid;
    padding: .4em 1em;
    transition-property: background, color;
    transition-duration: 150ms;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button:hover {
    background: rgba(255, 255, 255, 0.1);
  }

.heading{
    font-size:20px;
    font-family:'Arial', sans-serif;
    display:flex;
    justify-content:space-between;
    padding-left:15px;
    padding-right:15px;
}

.content{
    overflow-y:auto;
    height: calc(100vh - 100px);
}

.content .popup-img{
    position:fixed;
    top:0; left:0;
    background:rgba(0,0,0,0.9);
    height:100%;
    width:100%;
    z-index:100;
    display:none;
    transition: 150ms;
}

.content .popup-img img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:600px;
    width:auto;
    object-fit: contain;
}

.content .popup-img span{
    position: absolute;
    top:0;
    right:10px;
    font-size:60px;
    font-weight:bolder;
    color:white;
    cursor:pointer;
    z-index:100;

}

@media(max-width:700px){
    .content .popup-img img{
        width:95%;
    }
}

.photo-display{
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    position:relative;
    display:grid;
    grid-gap: 15px;
    width: 1000px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7,250px);
    grid-template-areas:"img1 img1 img1 img1"
                        "img2 img2 img3 img3"
                        "img4 img5 img5 img5"
                        "img4 img6 img6 img7"
                        "img8 img9 img9 img7"
                        "img8 img10 img10 img10"
                        "img11 img11 img12 img12";
}

.container .photo{
    cursor:pointer;
}
.container .img1{
    grid-area: img1;
}
.container .img2{
    grid-area: img2;
}
.container .img3{
    grid-area: img3;
}
.container .img4{
    grid-area: img4;
}
.container .img5{
    grid-area: img5;
}
.container .img6{
    grid-area: img6;
}
.container .img7{
    grid-area: img7;
}
.container .img8{
    grid-area: img8;
}
.container .img9{
    grid-area: img9;
}
.container .img10{
    grid-area: img10;
}
.container .img11{
    grid-area: img11;
}
.container .img12{
    grid-area: img12;
}

.container .photo{
    position:relative;
    
}

.container .photo img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
    transition:0.5s;
}

/* when you hover over a picture, you can make the picture 1.05 times the size */
.photo img:hover{
    scale:1.01;
}